.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

body{
    background-image: url('images/nice.jpg');
    background-size: cover;
    background-position:center;
}

.heading {
color: rgb(7, 1, 17);
padding: 3px;
background-color:white;
text-align:center;
font-size:xx-large;
border:solid;
border-radius: 200px;
border: 3px solid;
}

